snorkel
drain3
loguru
rich
joblib
toml
pydantic
scikit-learn
pandas
numpy
tqdm
sphinxcontrib-katex
sphinx-copybutton
sphinx
myst-parser
setuptools
build
black
dask[complete]
pytest
graphviz
dask-labextension